html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* personalized CSS */
.main {
  display: grid;
  grid-template-areas: 
    "nav header header header side"
    "nav article article article side"
    "nav article popup article side"
    "nav article article article side";
  grid-template-columns: 3.75fr 2fr 5.5fr 0.5fr 5.75fr;
  grid-template-rows: 98px 1.3fr 0.6fr 1.5fr;
  height: 100vh;
  font-family: sans-serif;
}

.pageHeader {
  grid-column: 2/span 5;
  grid-row: 1/span 1;
}

.mainNav {
  grid-column: 1/ span 1;
  grid-row: 1/span 4;
  display: grid;
  grid-template-areas: 
    "topnav"
    "remainder";
  grid-template-rows: 98px 1fr;
}

.mainArticle {
  grid-column: 2/ span 4;
  grid-row: 2/span 3;
}

.topNav {
  grid-area: topnav;
  background-color: #303030;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 40px;
}

.remainderNav {
  background-color: #F0F0F0;
}

.addForm {
  grid-column: 5/ span 1;
  grid-row: 1/span 4;
  z-index: 1;
}

.deleteForm {
  grid-column: 3;
  grid-row: 3;
  z-index: 1;
}