html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* personalized CSS */
.main {
  display: grid;
  grid-template-areas: 
    "nav header"
    "nav article";
  grid-template-columns: 375px 1fr;
  grid-template-rows: 98px 1fr;
  height: 100vh;
  font-family: sans-serif;
}

.pageHeader {
  grid-area: header;
  font-size: 28px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  border-bottom: 1px solid #A9A9A9;
}

.mainNav {
  grid-area: nav;
  display: grid;
  grid-template-areas: 
    "topnav"
    "remainder";
  grid-template-rows: 98px 1fr;
}

.mainArticle {
  grid-area: article;
}

.topNav {
  grid-area: topnav;
  background-color: #303030;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 40px;
}

.remainderNav {
  background-color: #F0F0F0;
}