.robotWrapper, .titleWrapper {
  display: flex;
  align-items: center;
  height: 70px;
}

.robotWrapper {
  height: 80px;
}

.robotName, .robotIndivName {
  padding-left: 40px;
  display: inline-block;
  width: 28%;
}

.robotIndivName {
  color: #237fa5;
}

div > .robotWrapper:nth-of-type(even) {
  background: #F8F8F8;
}

.robotLocation {
  display: inline-block;
  width: 28%;
  cursor: pointer;
}

.robotID {
  display: inline-block;
  width: 34%;
}

.trashIcon {
  display: inline-block;
  width: 10%;
  color: #237fa5;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 5px;
}

.locationOptions {
  position: absolute;
  margin-top: 10px;
  background-color: white;
  border-radius: 2px;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}

.locations {
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
  border-bottom: 1px solid #DCDCDC;
}

.locations:hover {
  color: #237fa5;
}



