.robotWrapper, .titleWrapper {
  display: flex;
  align-items: center;
  height: 70px;
}

.robotName, .robotIndivName {
  padding-left: 20px;
  display: inline-block;
  width: 30%;
}

.robotIndivName {
  color: #237fa5;
}

div > div.robotWrapper:nth-of-type(even) {
  background: #F8F8F8;
}

.robotLocation {
  display: inline-block;
  width: 30%
}

.robotID {
  display: inline-block;
  width: 30%;
}

.trashIcon {
  display: inline-block;
  width: 10%;
  color: #237fa5;
}

.arrowIcon {
  margin-left: 5px;
}

