.dropdownWrapper { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

.dropdownWrapper {
  height: 84px;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.companyText {
  font-size: 18px;
  margin-left: 40px;
  display: inline-block;
  width: 70%;
}

.chevronIcon {
  display: inline-block;
  width: 30%
}

.dropdownList {
  position: absolute;
  left: 40px;
  top: 60px;
  border-radius: 2px;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}

.dropdownItems {
  height: 50px;
  width: 250px;
  border-radius: 2px;
  border-bottom: 1px solid #DCDCDC;
  background-color: white;
  display: flex;
  padding-left: 15px;
  align-items: center;
}

.dropdownItems:hover {
  color: #237fa5;
}