.dashboardWrapper {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.headerText {
  font-size: 18px;
  margin-bottom: 20px
}

.eachUpdateWrapper {
  height: 65px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px
}

.eachUpdateWrapper:hover {
  border: 1px solid #237fa5;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.robots, .date {
  font-size: 12px;
  color: #BEBEBE;
}

.date {
  float: right;
}

.update {
  font-size: 14px;
  margin-top: 8px;
}